#oversized-files {
  .dialog-content {
    max-height: 400px;

    .files-list {
      max-height: 175px;
      overflow-y: auto;
      font-family: var(--font-family-monospace);
      margin-bottom: var(--spacing);

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          padding-left: 0;
          margin-bottom: 0;
        }
      }
    }

    .recommendation {
      -webkit-margin-after: 0.5em;
    }

    .lfs-recommendation {
      margin-top: var(--spacing);
      padding: var(--spacing);
      background-color: var(--box-alt-background-color);
      border: 1px solid var(--box-border-color);
      border-radius: var(--border-radius);

      p {
        margin-top: 0;
        margin-bottom: var(--spacing-half);
      }

      .lfs-track-button {
        display: flex;
        align-items: center;
        gap: var(--spacing-half);
      }
    }
  }
}
